.container {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 52px;
  border-left: 1px solid #635C5A;
}

.text {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s;
}

.image {
  cursor: pointer;
  margin-left: 25px;
}

.text:hover {
  color: rgb(184, 183, 183);
  scale: 0.99;
}