.button {
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    align-items: center;
    display: flex;
    padding: 13px 19px;
    border: none;
    cursor: pointer;
}

.span {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}