.container {
  background-color: #403C3B;
  height: 100vh;
  padding: 35px 172px 90px;
}

.confirmContainer {
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  padding: 20px 27px 11px 38px;
  /* max-width: 763px; */
  max-width: 220px;
  margin: 0 auto;
  display: flex;
}

.confirmButton {
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  padding: 17px 50px;
  cursor: pointer;
  text-decoration: none;
}