.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.button {
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 44px;
  border: none;
  cursor: pointer;
}

.buttonContainer {
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  align-items: center;
  display: flex;
  padding: 13px 19px;
  gap: 15px;
  border: none;
  cursor: pointer;
  width: 143px;
  height: 44px;
}

.cartCounter {
  background: #79B382;
  width: 50px;
  height: 50px;
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -12px;
  right: -12px;
}

.buttonProduct {
  width: 145px;
  height: 50px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 13px 19px;
  gap: 15px;
  border: none;
  cursor: pointer;
}
